# here are the live config .yaml files
tmp/

# latest Prometheus and banchmark results
results/latest.json


# npm install generated
node-js/node_modules
node-js/package-lock.json
# report sketch until have content
#report_sketch.md

# emberd git repo
catvsdog/
